<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="img_container">
		<ion-row>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m5.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m6.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m7.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m8.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m5.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m6.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m7.png" class="crop_img">
				</div>
			</ion-col>
			<ion-col size="6">
				<div class="img_box center_img">
					<img src="assets/images/m8.png" class="crop_img">
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>

<ion-footer no-border>
	<h1>+ 72 {{'more_photos' | translate}}</h1>

	<div class="container">
		<div class="date_time">
			<h5 class="d-flex">19 May, 2020 <span class="end">09:00 am</span></h5>
		</div>
		<div class="event_detail">
			<h2>Matrimony Meet 2020</h2>
			<h3>At 1021, City Garden, Hemilton, New York</h3>
			
		</div>
		<h4 class="ion-text-center">{{'you' | translate}} 369 {{'pepole_been_there' | translate}}</h4>
	</div>
</ion-footer>