<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{'event' | translate}} <span class="ion-float-end">
				<img src="assets/images/ic_search.png"></span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item (click)="GotToUpcoming_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Annual Get Together 2020</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>11 June, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>11:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>369 {{'people_coming' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToUpcoming_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Community Food Festival</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 June, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>08:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>1.5k {{'people_coming' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToUpcoming_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Personality development Seminar</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>22 June, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>10:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>1.9k {{'people_coming' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<h1>{{'past_events' | translate}}</h1>

		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Matrimony Meet 2020</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>09:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>80 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Community Issues Resolving Meeting</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>15 Feb, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>08:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>35 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Paintin Competition</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>11:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>50 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Matrimony Meet 2020</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>09:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>80 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Community Issues Resolving Meeting</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>15 Feb, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>08:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>35 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Paintin Competition</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>11:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>50 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Matrimony Meet 2020</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>09:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>80 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Community Issues Resolving Meeting</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>15 Feb, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>08:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>35 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Paintin Competition</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>11:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>50 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Matrimony Meet 2020</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>09:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>80 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Community Issues Resolving Meeting</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>15 Feb, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>08:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>35 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item (click)="GotToPast_event()">
			<div class="item_container">
				<div class="events_details">
					<h2>Paintin Competition</h2>
					<h3>At 1021, City Garden, Hemilton, New York</h3>
				</div>
				<ion-row>
					<ion-col size="4">
						<h4>19 May, 2020</h4>
					</ion-col>
					<ion-col size="3">
						<h4>11:00 am</h4>
					</ion-col>

					<ion-col size="5" class="ion-text-end">
						<h5>50 {{'photos_uploaded' | translate}} </h5>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
	</ion-list>
</ion-content>