<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="feed_posts">
			<!--
			<ion-icon name="flash"></ion-icon>
			<ion-label>Tab One</ion-label>
-->

			<img src="assets/images/ic_feeds.png" class="before">
			<img src="assets/images/ic_feeds_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="chats">
			<!--
			<ion-icon name="apps"></ion-icon>
			<ion-label>Tab Two</ion-label>
-->
			<img src="assets/images/ic_chats.png" class="before">
			<img src="assets/images/ic_chats_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="home">
			<!--
			<ion-icon name="send"></ion-icon>
			<ion-label>Tab Three</ion-label>
-->
			<img src="assets/images/ic_home.png" class="before">
			<img src="assets/images/ic_home_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="notifications">
			<!--
			<ion-icon name="send"></ion-icon>
			<ion-label>Tab four</ion-label>
-->
			<img src="assets/images/ic_notif.png" class="before">
			<img src="assets/images/ic_notif_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="my_profile">
			<!--
			<ion-icon name="send"></ion-icon>
			<ion-label>Tab five</ion-label>
-->
			<img src="assets/images/ic_profile.png" class="before">
			<img src="assets/images/ic_profile_active.png" class="after">
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>
