<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{'matrimony' | translate}} <span class="ion-float-end">
				<img src="assets/images/ic_search.png"></span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Richa Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Anaa Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Amanda Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Bernadette Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Bella Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Reichel Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Richa Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Anaa Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Amanda Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Bernadette Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Bella Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Reichel Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Richa Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/img_3.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Anaa Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/anna_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Amanda Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/amanda_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Bernadette Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bernadette_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Bella Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/bella_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="matrimony_about()">
			<div class="item_container d-flex">
				<div class="text_box">
					<h2>Reichel Williamson</h2>
					<h3>Brookly, New York</h3>
					<p class="d-flex">
						25 Years <span></span> Architect
					</p>
					<p class="d-flex">
						Master of Architect
					</p>
				</div>
				<div class="scroll_container end">
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_2.png" class="crop_img">
						</div>
					</div>
					<div class="item_srcoll">
						<div class="img_box center_img">
							<img src="assets/images/reichel_1.png" class="crop_img">
						</div>
					</div>
				</div>
			</div>
		</ion-item>

	</ion-list>

</ion-content>
<ion-footer no-border>
	<ion-button size="large" class="btn" (click)="set_preference()">{{'set_preference' | translate}}</ion-button>
</ion-footer>