<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{'diectory' | translate}} <span class="ion-float-end">
				<img src="assets/images/ic_search.png"></span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Andrew Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							30 Years <span></span> Doctor
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Anaa Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							25 Years <span></span> Student
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/8.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Amanda Williamson</h2>
					<h3>Los Angeles, California</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							39 Years <span></span> Housewife
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Bernadette Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							25 Years <span></span> Dedigner
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Bella Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							35 Years <span></span> Lawyer
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Andrew Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							30 Years <span></span> Doctor
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Anaa Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							25 Years <span></span> Student
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/8.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Amanda Williamson</h2>
					<h3>Los Angeles, California</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							39 Years <span></span> Housewife
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Bernadette Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							25 Years <span></span> Dedigner
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Bella Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							35 Years <span></span> Lawyer
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Andrew Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							30 Years <span></span> Doctor
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Anaa Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							25 Years <span></span> Student
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/8.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Amanda Williamson</h2>
					<h3>Los Angeles, California</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							39 Years <span></span> Housewife
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Bernadette Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							25 Years <span></span> Dedigner
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="GotToUserProfile()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h2>Bella Williamson</h2>
					<h3>Hemilton, New York</h3>
					<div class="other_details d-flex">
						<p class="d-flex">
							35 Years <span></span> Lawyer
						</p>
						<div class="icon_container">
							<div class="icon_box">
								<div class="icon"><img src="assets/images/ic_call.png"></div>
								<div class="icon"><img src="assets/images/ic_chat.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-item>



	</ion-list>
</ion-content>
