<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-title>
			<img src="assets/images/header_logo.png">
		</ion-title>
	</ion-toolbar>
	<div class="banner">
		<ion-row>
			<ion-col size="8" class="ion-padding-end">
				<h2> {{'hey' | translate}}<br> Samantha,</h2>
				<h3>Find your 'Happy Dream'<br> every day.</h3>
			</ion-col>
			<ion-col size="4">
				<div class="banner_img">
					<img src="assets/images/2.png">
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-header>

<ion-content class="bg_color">
	<div class="menu_container">
		<ion-row>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToContact_us()">
						<img src="assets/images/ic_directory.png">
					</div>
					<h2 class="ion-text-center">{{'leave_tracker' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToCommunity_info()">
						<img src="assets/images/ic_events.png">
					</div>
					<h2 class="ion-text-center">{{'time_tracker' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToCommunity_info()">
						<img src="assets/images/ic_nearby.png">
					</div>
					<h2 class="ion-text-center">{{'attendance' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToCommunity_info()">
						<img src="assets/images/ic_blog.png">
					</div>
					<h2 class="ion-text-center">{{'training' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToCommunity_info()">
						<img src="assets/images/ic_blood.png">
					</div>
					<h2 class="ion-text-center">{{'conpensation' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToCommunity_info()">
						<img src="assets/images/ic_matrimony.png">
					</div>
					<h2 class="ion-text-center">{{'performance' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToCommunity_info()">
						<img src="assets/images/ic_contact_us.png">
					</div>
					<h2 class="ion-text-center">{{'announcement' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToContact_us()">
						<img src="assets/images/ic_shareapp.png">
					</div>
					<h2 class="ion-text-center">{{'files' | translate}}</h2>
				</div>
			</ion-col>
			<ion-col size="4">
				<div class="menu_item">
					<div class="img_box" (click)="goToCommunity_info()">
						<img src="assets/images/ic_communityinfo.png">
					</div>
					<h2 class="ion-text-center">{{'lms' | translate}}</h2>
				</div>
			</ion-col>
		</ion-row>
	</div>


	<div class="scroll_container">
		<div class="item_srcoll">
			<div class="img_box center_img">
				<img src="assets/images/banner_1.png" class="crop_img icon_img">
			</div>
		</div>
		<div class="item_srcoll">
			<div class="img_box center_img">
				<img src="assets/images/banner_1.png" class="crop_img icon_img">
			</div>
		</div>
		<div class="item_srcoll">
			<div class="img_box center_img">
				<img src="assets/images/banner_1.png" class="crop_img icon_img">
			</div>
		</div>
		<div class="item_srcoll">
			<div class="img_box center_img">
				<img src="assets/images/banner_1.png" class="crop_img icon_img">
			</div>
		</div>
		<div class="item_srcoll">
			<div class="img_box center_img">
				<img src="assets/images/banner_1.png" class="crop_img icon_img">
			</div>
		</div>
		<div class="item_srcoll">
			<div class="img_box center_img">
				<img src="assets/images/banner_1.png" class="crop_img icon_img">
			</div>
		</div>
	</div>
</ion-content>